/upload/attach/
/upload/avatar/
/upload/forum/
/upload/friendlink/
/upload/plugin/
/upload/install.lock
/upload/plugin.json
/upload/*.db
/tmp/*.php
/log/sms_error
/log/sms_success
/log/*.php
/conf/127*.php
/conf/lh*.php
/conf/*conf.php
/plugin/qmall/
/plugin/*.zip
/plugin/*.rar
/plugin/*.7z
