/* ------------------------------------
 * @author  loveyu@viold.com
 * @link    http://www.viold.com
 * @update  2010-10-17 14:35
 * --------------------------------- */

/* ------------------
 * reset css
 * --------------- */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img {
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym {
    border:0;
}
article,sidebar,figure,footer,header,hgroup,nav,section {
    display:block;
}
a {
    color:#727272;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
.clearfix:after {
    clear:both;
    content:' ';
    display:block;
    font-size:0;
    line-height:0;
    visibility:hidden;
    width:0;
    height:0;
}
* html .clearfix {
    height:1%;
}
.clear {
    clear:both;
    overflow:hidden;
}
/* ------------------
 * gobal settings
 * --------------- */

body {
    color:#727272;
    background:url(../images/bg.png) repeat-x left top;
    font:12px/1.5 Tahoma,'Microsoft Yahei','Simsun';
}
#wrapper {
    margin:0 auto;
    width:1088px;
    background:url(../images/header_bg.jpg) no-repeat center top;
}

/* ------------------
 * header
 * --------------- */

header {
    margin:0 auto;
    width:940px;
}
#logo {
    padding:78px 0 0 135px;
    height:160px;
}
#logo h1 {
    text-indent:-9999px;
}
#logo h1 a {
    display:block;
    width:300px;
    height:50px;
    text-decoration:none;
    background:url(../images/logo.gif) no-repeat;
}
p.description {
    margin:0 0 0 20px;
}


/* ------------------
 * header nav menu 
 * --------------- */

header nav {
    margin:0 auto;
}
header nav ul {
    margin-left:20px;
}
header nav ul li {
    float:left;
}
header nav ul li a {
    margin:7px 10px 0 0;
    padding:0 20px;
    display:block;
    line-height:28px;
    color:#fffffe;
}
header nav ul li.checked a {
    color:#56575A;
    background:#fff;
    -moz-border-radius:10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
    border-radius:10px 10px 0 0;
}
header nav ul li a:hover {
    color:#56575A;
    background:#fffffe;
    text-decoration:none;
    -moz-border-radius:10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
    border-radius:10px 10px 0 0;
}

/* ------------------
 * content
 * --------------- */

#container {
    margin:0 auto;
    width:970px;
    background:url(../images/main_bg.png) repeat-y 0 0;
}
.content {
    float:left;
    margin:10px 0 10px 15px;
    padding:10px;
    width:610px;
    background-color:#fff;
    border:1px solid #eaf9d6;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
article h2.entry-title {
    padding:5px 12px;
    background-color:#eaf9d6;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
article h2 a {
    color:#8db328;
    font-size:1.5em;
    text-transform:uppercase;
    font-weight:700;
}
article section a {
    color:#8db328;
}
.entry-meta {
    margin-bottom:-5px;
    color:#8db328;
}
article section span.postcom {
    float:right;
    display:block;
}
.entry-index, .entry-post, .entry-page, .entry-meta{
    padding:0 10px;
    font-size: 1.2em;
}
.entry-index, .entry-post, .entry-page {
    margin-top:10px;
}
.entry-index p, .entry-post p, .entry-page p {
    margin-bottom:1em;
}
.entry-post h2, .entry-page h2 {
    border-bottom:1px solid #eaf9d9;
    font-size:1em;
    text-transform:uppercase;
    font-weight:700;
    line-height:126%;
    margin-bottom:1em;
}
.entry-post h2 span,.entry-page h2 span {
    border-bottom:2px solid #8db326;
}
.entry-post img {
    max-width:580px; 
}

/* ------------------
 * comments
 * --------------- */

#comments {
    margin-top:1em;
}
#comments h4 {
    font-weight:700;
    padding:5px 12px;
    color:#8db328;
    background-color:#eaf9d6;
    -moz-border-radius:5px;/* Firefox */
    -webkit-border-radius:5px;/* Safari and Chrome */
    border-radius:5px;/* Internet Explorer */
}
ol.comment-list,ol.comment-list ol {
	margin-bottom:10px;
	list-style:none;
}
ol.comment-list ol {
	}ol.comment-list li {
	margin:0;
	padding-bottom:10px;
}
ol.comment-list li {
	padding:5px 10px;
	margin-top:10px;
    border:1px solid #eaf9d6;
	overflow:hidden;
	-moz-border-radius:5px;/* Firefox */
    -webkit-border-radius:5px;/* Safari and Chrome */
    border-radius:5px;/* Internet Explorer */
}
ol.comment-list li.comment-level-odd {
    border:1px solid #fee;
	-moz-border-radius:5px;/* Firefox */
    -webkit-border-radius:5px;/* Safari and Chrome */
    border-radius:5px;/* Internet Explorer */
}
ol.comment-list li.comment-level-even {
    border:1px solid #efe;
	-moz-border-radius:5px;/* Firefox */
    -webkit-border-radius:5px;/* Safari and Chrome */
    border-radius:5px;/* Internet Explorer */
}
ol.comment-list li.comment-by-author {
	}ol.comment-list li .comment-reply {
	text-align:right;
}
ol.comment-list li .comment-reply a {
	font-size:12px;
	border:none;
	color:#aaa;
}
ol.comment-list li .comment-reply a:hover {
	color:#444;
}
.cancel-comment-reply {
	float:right;
	margin:5px 10px 0 0;
}
.comment-meta {
    margin-top:-2px;
	text-transform:uppercase;
	font-family:'Cantarell',serif;
	color:#737373;
	font-size:12px;
}
.comment-author {
	display:block;
	font-size:14px;
	color:#444;
}
.comment-author cite.fn {
	font-style:normal;
	text-transform:uppercase;
}
.comment-body {
	overflow:hidden;
}
img.avatar {
	float:left;
	margin:4px 10px 0 0;
    padding:1px;
    border:1px solid #eee;
}

ol.comment-list li .respond {
	padding-top:10px;
}
#comment_form {
	margin-top:10px;
}
#comment_form label {
	float:left;
	margin-right:15px;
	color:#555;
	display:block;
}
#comment_form label .required {
	color:#C04E37;
}
#comment_form .text {
	width:300px;
	padding:5px 10px;
}
#comment_form textarea {
	padding:10px;
	width:80%;
	height:180px;
}
#comment_form p {
    margin-bottom:10px;
}
#submit {
    margin:-5px 0;
	padding:10px 5px;
	width:150px;
	border:none;
	cursor:pointer;
    color:#8db328;
    background-color:#eaf9d6;
    -moz-border-radius:5px;/* Firefox */
    -webkit-border-radius:5px;/* Safari and Chrome */
    border-radius:5px;/* Internet Explorer */
}
#submit:hover {
	color:#fffffe;
	background:#8db328;
	-moz-border-radius:5px;/* Firefox */
    -webkit-border-radius:5px;/* Safari and Chrome */
    border-radius:5px;/* Internet Explorer */
}

/* ------------------
 * sidebar
 * --------------- */

body aside {
    float:right;
    margin:10px 15px 0 0;
    width:300px;
}
aside section {
    margin-bottom:10px;
    padding:5px 10px 10px 10px;
    background-color:#fff;
    border:1px solid #eaf9d6;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
aside section h3 {
    color:#8db328;
    font-weight:bold;
    font-size:14px;
    text-transform:uppercase;
}
aside section li {
    line-height:30px;
    border-bottom:1px dashed #eaf9d6;
}
.sidepan li {
    float:left;
    width:49%;
}
#tabs div { 
    padding-top:25px;
    position:relative;
}
#tabs h3 {
    text-align:center;
}
#tab1 h3 {
    left:0;
    top:0;
}
#tab2 h3 {
    left:94px;
    top:0;
}
#tab3 h3 {
    left:188px;
    top:0;
}
.open h3 {
    color:#8db328;
    font-weight:bold;
    font-size:14px;
	width:90px;
	position:absolute;
    cursor:pointer;
}
.open ul {
}
.close h3 {
	color:#727272;
    font-weight:bold;
    font-size:14px;
	width:90px;
	position:absolute;
    cursor:pointer;
}
.close ul {
	display:none
}

/* ------------------
 * search
 * --------------- */

#search {
}
#search fieldset {
}
#search label {
}
#search input {
    float:left;
    width:216px;
    height:22px;
    color:#727272;
    border:1px solid #eaf9d6;
    background:none;
    padding:5px 5px 0 5px;
    -moz-border-radius:5px 0 0 5px;/* Firefox */
    -webkit-border-radius:5px 0 0 5px;/* Safari and Chrome */
    border-radius:5px 0 0 5px;/* Internet Explorer */
}
#search .button {
    float:right;
    width:50px;
    height:29px;
    border:none;
    color:#8db327;
    background:#eaf9d6;
    cursor:pointer;
    -moz-border-radius:0 5px 5px 0;/* Firefox */
    -webkit-border-radius:0 5px 5px 0;/* Safari and Chrome */
    border-radius:0 5px 5px 0;/* Internet Explorer */
}

/* ------------------
 * page
 * --------------- */

.pages {
    margin-top:10px;
    padding:10px 10px 0 0;
    text-align:right;
}
.comments-pages {
    margin:10px 0;
    padding:0 10px 0 0;
    text-align:right;
}

.pages li, .comments-pages li {
    margin-left:10px;
    display:inline;
}
.pages li a, .comments-pages li a {
    padding:2px 10px;
    border:1px solid #eaf9d6;
    text-decoration:none;
    -moz-border-radius:15px;/* Firefox */
    -webkit-border-radius:15px;/* Safari and Chrome */
    border-radius:15px;/* Internet Explorer */
}
.pages li.current a, .comments-pages li.current a {
    font-weight:bold;
    color:#8db328;
    background:#eaf9d6;
}
.pages li a:hover, .comments-pages li a:hover {
    background:#eaf9d6;
}

/* ------------------
 * footer
 * --------------- */

footer {
    margin:0 auto;
    padding-bottom:10px;
    width:970px;
    background:url(../images/main_bg.png) repeat-y 0 0;
}
footer section {
    margin:0 auto;
    width:940px;
    line-height:40px;
    text-align:center;
    text-transform:uppercase;
    background-color:#fff;
    border:1px solid #eaf9d6;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
#sitestat {
    display:none
}

/* ------------------
 * feed rss
 * --------------- */

#top{
    margin-left:375px;
    bottom:0;
    left:50%;
    width:106px;
    height:40px;
    position:fixed;
    background:url(../images/top.png) no-repeat scroll 0 0 transparent;
}
#top #top-p{
    position:relative;
}
#top .top{
    width:42px;
    height:40px;
    top:5px;
    right:8px;
    position:absolute;
}
#top .rss{
    width:42px;
    height:40px;
    top:5px;
    left:8px;
    cursor:pointer;
    position:absolute;
    text-decoration:none;
}

/* ------------------
 * share
 * --------------- */

.share {
    float:right;
    vertical-align:middle;
}

/* ------------------
 * error 404
 * --------------- */

.error {
    width:278px;
}
.error ul {
    margin:1em 1em 0em 1.5em;
}
.error li {
    line-height:3em;
    font-size:14px;
    text-transform:uppercase;
}

/* ------------------
 * code
 * --------------- */

pre {
	margin:1em 0;
	padding:10px;
	font-size:12px;
	white-space:pre;/* CSS 2.0 */
    white-space:pre-wrap;/* CSS 2.1 */
    white-space:pre-line;/* CSS 3.0 */
    white-space:-pre-wrap;/* Opera 4-6 */
    white-space:-o-pre-wrap;/* Opera 7 */
    white-space:-moz-pre-wrap;/* Mozilla */
    white-space:-hp-pre-wrap;/* HP Printers */
    word-wrap:break-word;/* IE 5+ */
    width:96%;
	background:#DDEDFB;
	border:1px solid #e0e0e0;
	display:block;
}

/* ------------------
 * user
 * --------------- */

#change {
	cursor:pointer;
}
#update {
	cursor:pointer;
	display:none;
	color:#F90;
}
#hint {
    margin-bottom:10px;
	color:#6f8606;
	display:none;
}